---
import StaffCard from "@components/StaffCard";
import Layout from "@layouts/Layout.astro";

let author1 = {
  name: "Sir Humphrey",
  image_url: "/sir_humphrey.jpg",
  description: "",
  title: "Economics and Government correspondent ",
};

let author2 = {
  name: "Ambassador Olivia",
  image_url: "/ambassador_olivia.jpg",
  description: "",
  title: "Foreign Relations and Diplomacy expert",
};

let author3 = {
  name: "Senator Marcus",
  image_url: "/senator_marcus.jpg",
  description: "",
  title: "National Security and Defense Specialist",
};

let author4 = {
  name: "Governor Felicity",
  image_url: "/governor_felicity.jpg",
  description: "",
  title: "State and Local Politics Authority",
};

let author5 = {
  name: "Secretary Albert",
  image_url: "/secretary_albert.jpg",
  description: "",
  title: "Public Administration and Policy Advisor",
};

let author6 = {
  name: "Deputy Director Grace",
  image_url: "/deputy_director_grace.jpg",
  description: "",
  title: "Intelligence and National Security Analyst",
};
---

<Layout>
  <div class="mx-auto grid w-max grid-cols-3 gap-10 justify-items-center">
    <div class="col-span-1">
      <StaffCard author={author1} />
    </div>
    <div class="col-span-1">
      <StaffCard author={author2} />
    </div>
    <div class="col-span-1">
      <StaffCard author={author3} />
    </div>
    <div class="col-span-1">
      <StaffCard author={author4} />
    </div>
    <div class="col-span-1">
      <StaffCard author={author5} />
    </div>
    <div class="col-span-1">
      <StaffCard author={author6} />
    </div>
  </div>
</Layout>
